aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
aiohttp==3.13.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
aiosignal==1.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
alembic==1.18.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
annotated-doc==0.0.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
anyio==4.12.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
appdirs==1.4.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
asttokens==3.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
async-timeout==5.0.1 ; python_version == "3.11"
asyncpg==0.29.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
attrs==26.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
auth0-python==5.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
backoff==2.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
bcrypt==5.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
beautifulsoup4==4.14.3 ; python_full_version == "3.13.0"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
build==1.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
certifi==2026.2.25 ; python_version >= "3.11" and python_full_version <= "3.13.0"
cffi==2.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
chromadb==1.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
click==8.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
crewai-tools==0.76.0 ; python_full_version == "3.13.0"
crewai==0.86.0 ; python_full_version == "3.13.0"
crewai==0.95.0 ; python_version >= "3.11" and python_version < "3.13"
cryptography==46.0.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
decorator==5.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
defusedxml==0.7.1 ; python_full_version == "3.13.0"
deprecation==2.1.0 ; python_full_version == "3.13.0"
diskcache==5.6.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
distro==1.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
dnspython==2.8.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
docker==7.1.0 ; python_full_version == "3.13.0"
docstring-parser==0.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
durationpy==0.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ecdsa==0.19.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
email-validator==2.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
et-xmlfile==2.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
executing==2.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fastapi-cli==0.0.24 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fastapi==0.111.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fastuuid==0.14.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
filelock==3.25.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
flatbuffers==25.12.19 ; python_version >= "3.11" and python_full_version <= "3.13.0"
frozenlist==1.8.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fsspec==2026.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
googleapis-common-protos==1.73.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
greenlet==3.3.2 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
groq==0.37.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
grpcio==1.78.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
h11==0.16.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
hf-xet==1.4.2 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httptools==0.7.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httpx==0.27.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
huggingface-hub==1.7.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
idna==3.11 ; python_version >= "3.11" and python_full_version <= "3.13.0"
importlib-metadata==8.7.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
importlib-resources==6.5.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
instructor==1.14.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ipython==9.10.0 ; python_version >= "3.11" and python_version < "3.13"
ipython==9.11.0 ; python_full_version == "3.13.0"
jedi==0.19.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jinja2==3.1.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jiter==0.11.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
json-repair==0.25.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonpatch==1.33 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonpickle==4.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonpointer==3.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonref==1.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonschema==4.26.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
kubernetes==35.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
lance-namespace-urllib3-client==0.6.1 ; python_full_version == "3.13.0"
lance-namespace==0.6.1 ; python_full_version == "3.13.0"
lancedb==0.30.1 ; python_full_version == "3.13.0"
langchain-core==1.2.20 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-groq==1.1.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain==1.2.13 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langgraph-checkpoint==4.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langgraph-prebuilt==1.0.8 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langgraph-sdk==0.3.12 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langgraph==1.1.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langsmith==0.7.22 ; python_version >= "3.11" and python_full_version <= "3.13.0"
litellm==1.82.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
loguru==0.7.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
lxml==6.0.2 ; python_full_version == "3.13.0"
mako==1.3.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
markupsafe==3.0.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
matplotlib-inline==0.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mmh3==5.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mpmath==1.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
multidict==6.7.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
networkx==3.6.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
numpy==2.4.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
oauthlib==3.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
onnxruntime==1.24.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
openai==2.29.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
openpyxl==3.1.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-api==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-common==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-grpc==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-http==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-proto==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-sdk==1.40.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-semantic-conventions==0.61b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
orjson==3.11.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ormsgpack==1.12.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
overrides==7.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
packaging==26.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
parso==0.8.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
passlib==1.7.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pdfminer-six==20251230 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pdfplumber==0.11.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
posthog==5.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
prompt-toolkit==3.0.52 ; python_version >= "3.11" and python_full_version <= "3.13.0"
propcache==0.4.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
protobuf==6.33.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
psycopg2-binary==2.9.11 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyarrow==23.0.1 ; python_full_version == "3.13.0"
pyasn1==0.6.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pybase64==1.4.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pycparser==3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pydantic-settings==2.13.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pydantic==2.12.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pygments==2.19.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyjwt==2.12.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pypdf==6.9.2 ; python_full_version == "3.13.0"
pypdfium2==5.6.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pypika==0.51.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-docx==1.2.0 ; python_full_version == "3.13.0"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-jose==3.5.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-multipart==0.0.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pytube==15.0.0 ; python_full_version == "3.13.0"
pyvis==0.3.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pywin32==311 ; python_full_version == "3.13.0" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
referencing==0.37.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
regex==2026.2.28 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests==2.32.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rich-toolkit==0.19.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rich==13.9.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rpds-py==0.30.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rsa==4.9.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
setuptools==82.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
six==1.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
soupsieve==2.8.3 ; python_full_version == "3.13.0"
sqlalchemy==2.0.48 ; python_version >= "3.11" and python_full_version <= "3.13.0"
stack-data==0.6.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
stagehand==3.7.0 ; python_full_version == "3.13.0"
starlette==0.37.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sympy==1.14.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tavily-python==0.7.23 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tenacity==8.5.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tiktoken==0.12.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tokenizers==0.22.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tomli-w==1.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tomli==2.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tqdm==4.67.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typer==0.24.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
upstash-redis==1.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
urllib3==2.6.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uuid-utils==0.14.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uv==0.10.12 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uvicorn==0.30.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uvloop==0.22.1 ; python_version >= "3.11" and python_full_version <= "3.13.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchfiles==1.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
wcwidth==0.6.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
websocket-client==1.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
websockets==14.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0" and sys_platform == "win32"
xxhash==3.6.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
yarl==1.23.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
youtube-transcript-api==1.2.4 ; python_full_version == "3.13.0"
zipp==3.23.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
zstandard==0.25.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
